{% extends 'main/base.html' %}
{% block title %}
Create New List
{% endblock %}
{% block listitems %}
	{% for l in lists %}
		<a class="btn btn-primary sideitem" href="/{{l.id}}"><span>{{l.name}}</span></a>
	{% endfor %}
{% endblock %}
{% block content %}
	<h3>Create a New To Do List</h3>
	<br>
	<form method="post", action="/create/" class="form-group">
		{% csrf_token %}
		<div class="input-g">
			  {{form.name}}<br>
			  <button name="save", type="submit", class="btn btn-success pdbtn">Create</button>
		</div>
	</form>
{% endblock %}