{% extends 'main/base.html' %}

{% block title %}View All Lists{% endblock %}
{% block listitems %}

	{% for l in lists %}
			
	<a 	class="btn btn-primary sideitem" href="/{{l.id}}"><span>{{l.name}}</span></a>
	{% endfor %}
{% endblock %}

{% block content %}
		<ul class="list-group">
		{% for l in lists %}
		
			<li class="list-group-item"><a href="/{{l.id}}"><h3>{{l.name}}</h3></a></li>
		{% endfor %}
		</ul>
		<br>
		
		<div>
			<a class="btn btn-primary crbtn "  href="/create"> create new list </a>
		</div>
{% endblock %}